.button2 {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 12px 59px;
  background: linear-gradient(to bottom, #0f70ff, #0f70ff);
  font: normal normal bold 15px arial;
  color: #ffffff;
  text-decoration: none;
}
.button2:hover,
.button2:focus {
  background: linear-gradient(to bottom, #24a4ff, #24a4ff);
  color: #ffffff;
  text-decoration: none;
}
.button2:active {
  background: linear-gradient(to bottom, #125296, #1e89fa);
}

.LandingPage-introduction {
  /* from https://mycolor.space/gradient?ori=circle&hex=%231A263A&hex2=%23424357&sub=1 */
  background-image: radial-gradient(circle, #1a263a, #242d41, #2e3448, #383b50, #424357);
  height: 475px;
  width: 100%;
  color: white;
  background-size: 100%;
}
.LandingPage-section5 {
  background-color: white;
  padding: 0;
  height: 200px;
  min-width: 100%;
  color: white;
}
.LandingPage-section10 {
  background-color: #1a263a;
  padding: 0;
  height: 200px;
  min-width: 100%;
  color: white;
}
.LandingPage-section2 {
  background-color: white;
  padding: 0;
  min-height: 300px;
  min-width: 100%;
  color: white;
}

.buttonSmall {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 8px 16px;
  background-color: rgba(65, 65, 65, 0.178);
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font: normal normal bold 11px arial;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
.buttonSmall:hover {
  color: #00000088;
  text-decoration: none;
}

.buttonSmall:focus {
  text-transform: uppercase;
}

.LandingPage-section3 {
  background-color: white;
  padding: 0;
  min-height: 575px;
}
.LandingPage-section4 {
  background-color: blue;
  padding: 0;
  min-height: 84px;
}
.buttonsec6 {
  display: inline-block;
  text-align: left;
  vertical-align: center;
  background: linear-gradient(to bottom, #006ce0, #006ce0);
  font: normal normal bold 14px;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 15px;
  text-transform: uppercase;
}
.buttonsec6:hover {
  background: linear-gradient(to bottom, #006ce0, #006ada);
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.buttonsec6:active {
  background: linear-gradient(to bottom, #006ce0, #006ce0);
  text-transform: uppercase;
}
.buttonsec6:focus {
  text-transform: uppercase;
}

.LandingPage-section6 {
  background-color: #1a263a;
  padding: 0;
  min-height: 610px;
  margin: 0px 0px;
}

.LandingPage-section7 {
  background-color: #ffffff;
  padding: 0;
  min-height: 610px;
  margin: 0px 0px;
}

.LandingPage-img {
  height: 50%;
  width: 50%;
  margin: 0px 0px;
}

.LandingPage-title {
  padding: 1%;
  margin: 1%;
  text-align: center;
  /* font-family: 'Libre Baskerville', serif; */
  /* font-size: 20px; */
  color: white;
}

.LandingPage-content {
  margin: 0px 0px;
}

.LandingPage-left {
  text-align: center;
  margin: 0px 0px;
}

.LandingPage-text {
  /* font-family: 'Bree Serif', serif; */
  /* font-size: 16px; */
  margin: 0px 0px;
}

.LandingPage-button {
  text-align: center;
  font-size: 18px;
}
