.introduction {
  /* from https://mycolor.space/gradient?ori=circle&hex=%231A263A&hex2=%23424357&sub=1 */
  background-image: radial-gradient(circle, #1a263a, #242d41, #2e3448, #383b50, #424357);
  height: 100%;
  width: 100%;
  color: white;
  background-size: 100%;
}

.step-bar {
  width: 80%;
  height: 40px;
  margin-left: 10%;
  margin-top: 40px;
  margin-bottom: 20px;
}