/**
 * {{&summary}}
 * @method
 * @name {{&className}}#{{&methodName}}
 * @param {object} parameters - method options and parameters
{{#parameters}}
    {{^isSingleton}} * @param {{=<% %>=}}{<%&type%>}<%={{ }}=%> parameters.{{&camelCaseName}} - {{&description}}{{/isSingleton}}
{{/parameters}}
 */
export async function {{&methodName}}(params){
    {{#isES6}}let{{/isES6}}{{^isES6}}var{{/isES6}} urlPath = baseURL + '/api{{&path}}';
    {{#isES6}}let{{/isES6}}{{^isES6}}var{{/isES6}} body = {}, queryParameters = {}, headers = {}, form = {};

    if (params && params.headers) {
        headers = params.headers;
    }

    {{#isSecure}}
        headers = this.setAuthHeaders(headers);
    {{/isSecure}}
    {{#headers}}
        headers['{{&name}}'] = {{&value}};
    {{/headers}}

    if (has(params, "requestId")) {
        headers['X-Request-ID'] = params.requestId;
    } else if (has(params, "X-Request-ID")) {
        headers['X-Request-ID'] = params["X-Request-ID"];
    } else {
        headers['X-Request-ID'] = uuid();
    }

    if (!has(headers, "Content-Type")) {
        headers["Content-Type"] =  "application/json; charset=utf-8";
    }


    let parameters = params;

    if(parameters === undefined) {
        parameters = {};
    }

    {{#parameters}}
        {{#isQueryParameter}}
            {{#isSingleton}}
                queryParameters['{{&name}}'] = '{{&singleton}}';
            {{/isSingleton}}
            {{^isSingleton}}
                {{#isPatternType}}
                    Object.keys(parameters).forEach(function(parameterName) {
                        if(new RegExp('{{&pattern}}').test(parameterName)){
                            queryParameters[parameterName] = parameters[parameterName];
                        }
                    });
                {{/isPatternType}}
                {{#default}}
                    /** set default value **/
                    queryParameters['{{&name}}'] = {{&default}};
                {{/default}}

                {{^isPatternType}}
                if(parameters['{{&camelCaseName}}'] !== undefined){
                    queryParameters['{{&name}}'] = parameters['{{&camelCaseName}}'];
                }
                {{/isPatternType}}
            {{/isSingleton}}
        {{/isQueryParameter}}

        {{#isPathParameter}}
            urlPath = urlPath.replace('{{=<% %>=}}{<%&name%>}<%={{ }}=%>', parameters['{{&camelCaseName}}']);
        {{/isPathParameter}}

        {{#isHeaderParameter}}
            {{#isSingleton}}
                headers['{{&name}}'] = '{{&singleton}}';
            {{/isSingleton}}
            {{^isSingleton}}
                if(parameters['{{&camelCaseName}}'] !== undefined){
                    headers['{{&name}}'] = parameters['{{&camelCaseName}}'];
                }
            {{/isSingleton}}
        {{/isHeaderParameter}}

        {{#isBodyParameter}}
            if(parameters['{{&camelCaseName}}'] !== undefined){
                parameters['body'] = JSON.stringify(parameters['{{&camelCaseName}}']);
            }
        {{/isBodyParameter}}

         {{#isFormParameter}}
            {{#isSingleton}}
                form['{{&name}}'] = '{{&singleton}}';
            {{/isSingleton}}
            {{^isSingleton}}
                if(parameters['{{&camelCaseName}}'] !== undefined){
                    form['{{&name}}'] = parameters['{{&camelCaseName}}'];
                }
            {{/isSingleton}}
        {{/isFormParameter}}

        {{#required}}
        if(parameters['{{&camelCaseName}}'] === undefined){
            throw new Error('Missing required {{&paramType}} parameter: {{&camelCaseName}}');
        }
        {{/required}}

    {{/parameters}}
    queryParameters = mergeQueryParams(parameters, queryParameters);



    const queryParams =
      queryParameters && Object.keys(queryParameters).length
        ? "?" + serializeQueryParams(queryParameters)
        : "";

    const creds = {
        credentials: 'include',
        cache: 'no-cache',
        mode :'cors'
    };
    const options = {
        method: '{{method}}',
        headers,
        ...parameters,
        ...creds,
    };
    
    const response =  await fetch(urlPath + queryParams, options);
    const json = await response.json()


    return {
        ...processHeaders(response.headers),
        ...json
    }
 };

