.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-menu {
  background-color: #222;
  font-size: large;
  padding: 20px;
  font-size: 20px
}

.App-header {
  background-color: #222;
  height: 300px;
  padding: 20px;
  color: white;
  font-size: 35px
}

.App-model {
  font-size: large;
  padding: 20px;
}

.App-upload {
  font-size: large;
  padding: 20px;
}

.App-footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #222;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
