.App {
  color: teal;
  background-color: teal;
  width: 100%;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-content {
  flex-grow: 1;
}

.App-menu {
  background-color: teal;
  color: white;
  font-size: 35px;
  border-radius: 0px;
  padding-top: 10px;
}

.App-header {
  background-color: teal;
  color: white;
  font-size: 35px;
  border-radius: 0px;
  padding-top: 10px;
  padding-bottom: 1em;
}

.App-body {
  border: 0px;
  border-radius: 0px;
  padding: 2em;
}

.App-upload {
  font-size: large;
  padding: 20px;
}

.App-footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: teal;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
