/* apply a natural box layout model to all elements, but allowing components to change */


/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */

* {
  box-sizing: border-box;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  line-height: 1.7em;
  color: #7f8c8d;
  font-size: 13px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: #2d3e50;
}

#app {
  height: 0%;
}
